@import 'common/scss/variables';
@import 'common/scss/mixins';
@import 'common/scss/animations';

.mainBox {
  padding: 6.5rem 0;
  max-width: 117rem;
  margin: 0 auto;
  min-height: 100vh;

  .gridBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 3rem;
    grid-template-areas:
      'portfolio title title'
      'portfolio tic-tac-toe taskManager'
      'portfolio tic-tac-toe taskManager'
      'orbita tic-tac-toe taskManager'
      'orbita flashCards socialNetwork'
      'orbita flashCards socialNetwork'
      'orbita flashCards socialNetwork'
      'todoAng . .'
      'todoAng . .'
      'todoAng . .';


    .titleBox {
      grid-area: title;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        color: $white;
        font-size: 7.4rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -01px;
        margin-top: 2px;

        @media (max-width: 450px) {
          font-size: 5.5rem;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    padding: 6.5rem 2rem;

    .gridBox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(16, 1fr);
      gap: 3rem;
      grid-template-areas:
        'portfolio title'
        'portfolio tic-tac-toe'
        'portfolio tic-tac-toe'
        'orbita tic-tac-toe'
        'orbita taskManager'
        'orbita taskManager'
        'orbita taskManager'
        'flashCards socialNetwork'
        'flashCards socialNetwork'
        'flashCards socialNetwork'
        'todoAng .'
        'todoAng .'
        'todoAng .';
    }
  }

  @media (max-width: 800px) {
    padding: 6.5rem 2rem;

    .gridBox {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: min-content;
      gap: 1rem;
      grid-template-areas:
        'title'
        'portfolio'
        'tic-tac-toe'
        'taskManager'
        'flashCards'
        'orbita'
        'socialNetwork'
        'todoAng';

      .titleBox {
        margin-bottom: 5rem;
      }
    }
  }
}
