@import '../../../common/scss/variables';
@import '../../../common/scss/mixins';

.flipBox {
  @include inEachBox;
  @include beforeElement;

  grid-area: letsWork;

  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;

  .descriptionIconBox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .description {
      display: flex;
      flex-direction: column;
      line-height: 1.2;

      h4 {
        color: $grey-secondary;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.2;
        opacity: 0.5;
        margin-bottom: 0.6rem;
        text-transform: uppercase;
      }

      h1 {
        font-size: 4.4rem;
        line-height: 5.2rem;
        font-weight: 500;
        color: $white;
        margin: 0;

        span {
          color: rgba(0, 255, 247, 0.85);
          font-size: 44px;
          line-height: 52px;
          font-weight: 500;
        }
      }
    }
    @include icon;
  }
}
