@import 'common/scss/variables';
@import 'common/scss/mixins';
@import 'common/scss/animations';

.mainBox {
  display: flex;
  max-width: 117rem;
  margin: 0 auto;
  padding-top: 8rem;

  .sideBar {
    @include beforeElement;

    width: 37rem;
    padding: 2.4rem;
    position: fixed;
    border-radius: 30px;
    background: $background;
    box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;

    .photoBox {
      background-image: radial-gradient(rgba(138, 138, 157, 0.41), rgba(0, 255, 247, 0.85));
      border-radius: 30px;
      animation: backgroundPhotoAnimation 10s infinite;
      margin-bottom: 4rem;
      width: 32rem;
      height: 32rem;
      overflow: hidden;

      .photo {
        width: 100%;
        height: 100%;
        //background-image: url('../../../common/assets/img/photo-cv-225px.png');
        //background-image: url('../../../common/assets/img/DSCF7515.png');
        //background-position: center;
        //background-size: cover;
        //z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 32rem;
          overflow: hidden;
        }
      }
    }

    h2 {
      color: $white;
      font-weight: 500;
      font-size: 2.6rem;
      margin-bottom: 3.4rem;
    }

    .socialLinks {
      gap: 1rem;
      margin-bottom: 3.6rem;
      list-style: none;
      display: flex;

      .circle {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        display: block;
        position: relative;
        line-height: 5.5rem;
        color: $white;
        font-size: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.05);
        background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
        transition: 0.3s;

        &:hover {
          background: $color-primary;

          .icon {
            fill: $background;
          }
        }

        .icon {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          fill: $white;
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }

  .content {
    margin-left: 38%;

    .about,
    .experience,
    .education {
      margin-bottom: 11rem;

      h2 {
        margin-bottom: 3.7rem;
        color: $white;
        font-size: 2.2rem;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 1.5;
      }

      p {
        font-size: 1.6rem;
        color: #fff;
        opacity: 0.8;
        line-height: 1.56;
        margin-bottom: 30px;
      }

      h4 {
        color: #bcbcbc;
        opacity: 0.6;
        font-size: 1.4rem;
        font-weight: 400;
        display: inline-block;
        margin-bottom: 3.7rem;
      }
      h3 {
        font-size: 1.8rem;
        color: #5b78f6;
        margin-bottom: 0.3rem;
        font-weight: 500;
      }
    }

    .experience {
      margin-bottom: 11rem;

      [data-aos^='fade'][data-aos^='fade'].aos-animate {
        opacity: 1;
        transform: translateZ(0);
      }

      h2 {
        margin-bottom: 0.3rem;
      }

      h3 {
        color: #00ffb9;
      }

      a {
        font-size: 1.8rem;
        color: #5b78f6;
        margin-bottom: 0.5rem;
        font-weight: 500;
        text-decoration: none;
        display: block;
        transition: all 0.3s;

        &:hover {
          font-size: 2.2rem;
        }
      }
    }

    .education {
      margin-bottom: 11rem;

      h4 {
        margin-bottom: 1.5rem;
      }
      p {
        margin-bottom: 3.7rem;
      }
    }

    .skills {
      margin-bottom: 11rem;
    }

    .languages {
      margin-bottom: 11rem;
    }
  }
}
