@import 'common/scss/variables';
@import 'common/scss/mixins';

.box {
  @include inEachBox;

  grid-area: profile;
  display: flex;
  padding: 5rem 4.6rem;
  align-items: center;
  gap: 30px;

  .photoBox {
    //background: linear-gradient(90deg, #ffcd00 -15%, #c2ebff 58%, #ff8700 97%);
    //background-image: linear-gradient(to right, #ffff00, #ffa500);
    background-image: radial-gradient(rgba(138, 138, 157, 0.41), rgba(0, 255, 247, 0.85));
    //background-image: radial-gradient(rgba(27, 204, 227, 0.85), rgba(88, 88, 192, 0.41));

    border-radius: 30px;

    .photo {
      width: 18rem;
      height: 18rem;
      background-image: url('../../common/assets/img/photo-cv-225px.png');
      background-position: center;
    }
  }

  .description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      color: #bcbcbc;
      opacity: 0.7;
      font-size: 1.4rem;
      letter-spacing: 0.3px;
      margin-bottom: 0.3rem;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.2;
    }

    h1 {
      font-size: 3.6rem;
      line-height: 4rem;
      color: $white;
      font-weight: 500;
      margin-bottom: 1.2rem;
      letter-spacing: 2px;
    }

    p {
      letter-spacing: 0.3px;
      font-size: 1.4rem;
      font-weight: 500;
    }
    @include icon;
  }
}
