@import 'common/scss/variables';
@import 'common/scss/mixins';
@import 'common/scss/animations';

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  border-radius: 3rem;
  //box-shadow: inset 2px 2px 15px rgba(255, 255, 255, 0.15);

  padding: 1.6rem 1.6rem 2.6rem 1.6rem;

  .imgBox {
    border-radius: 30px;
    overflow: hidden;
    min-height: 34rem;
    min-width: 34rem;
    margin-bottom: 1.5rem;
    position: relative;

    img {
      border-radius: 30px;
      width: 100%;
      height: 100%;
      transition: 0.4s ease-out;
    }

    .btn {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $background;
      box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.3);
      width: 130px;
      height: 60px;
      font-size: 2rem;
      color: white;
      text-transform: uppercase;
      border: none;
      border-radius: 30px;
      opacity: 0;
      transition: 0.4s;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    &:hover img {
      transform: scale(1.2);
      filter: blur(2px) brightness(50%);
    }

    &:hover .btn {
      opacity: 1;
      top: 50%;
    }
  }

  .description {
    .projectInfo {
      .projectTitle {
        text-decoration: none;

        h1 {
          font-size: 2.2rem;
          color: $white;
          opacity: 0.9;
          font-weight: 500;
          text-shadow: 0 5px 8px black;
          margin-bottom: 1rem;
        }
      }

      p {
        color: #bcbcbc;
        opacity: 0.6;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
      }
    }
    @include icon;
  }
}
