@import '../../../common/scss/variables';
@import '../../../common/scss/mixins';
@import '../../../common/scss/animations';

.box {
  @include inEachBox;
  @include beforeElement;

  grid-area: profile;
  display: flex;
  padding: 5rem 4.6rem;
  align-items: center;

  .photoBox {
    background-image: radial-gradient(rgba(138, 138, 157, 0.41), rgba(0, 255, 247, 0.85));
    border-radius: 30px;
    animation: backgroundPhotoAnimation 10s infinite;
    overflow: hidden;
    min-width: 18rem;
    min-height: 18rem;
    margin-right: 3rem;

    .photo {
      width: 100%;
      height: 100%;
      //background-image: url('../../../common/assets/img/photo-cv-225px.png');
      //background-image: url('../../../common/assets/img/DSCF7515.png');
      //background-position: center;
      //background-size: cover;
      //z-index: 5;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 18rem;
      }
    }
  }

  .description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      color: #bcbcbc;
      opacity: 0.7;
      font-size: 1.4rem;
      letter-spacing: 0.3px;
      margin-bottom: 0.3rem;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.2;
    }

    h1 {
      font-size: 3.6rem;
      line-height: 4rem;
      color: $white;
      font-weight: 500;
      margin-bottom: 1.2rem;
      letter-spacing: 2px;
    }

    p {
      letter-spacing: 0.3px;
      font-size: 1.4rem;
      font-weight: 500;
    }
    @include icon;
  }
}
