.gridBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'profile profile aboutMe projects'
    'languages skills skills contacts'
    'services services letsWork letsWork';
  gap: 2rem;

  max-width: 117rem;
  padding: 6.5rem 0;
  margin: 0 auto;

  @media (max-width: 1250px) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'profile profile'
      'aboutMe projects'
      'skills skills'
      'languages contacts'
      'services services'
      'letsWork letsWork';
    gap: 2rem;
    padding: 6.5rem 4rem;
  }

  @media (max-width: 650px) {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'profile'
      'aboutMe'
      'projects'
      'skills'
      'contacts'
      'languages'
      'services'
      'letsWork';
    gap: 2rem;
    padding: 6.5rem 4rem;
  }
}
