@import 'common/scss/variables';
@import 'common/scss/mixins';
@import 'common/scss/animations';

.mainBox {
  padding: 6.5rem 0;
  max-width: 117rem;
  margin: 0 auto;
  min-height: 100vh;

  .gridBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3rem;
    grid-template-areas:
      'portfolio title title'
      'portfolio taskManager flashCards'
      'portfolio taskManager flashCards'
      'portfolio taskManager flashCards'
      'orbita taskManager flashCards'
      'orbita socialNetwork todoAng'
      'orbita socialNetwork todoAng'
      'orbita socialNetwork todoAng'
      'orbita socialNetwork todoAng';

    .titleBox {
      //grid-column-start: 2;
      //grid-column-end: span 2;
      grid-area: title;
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        color: $white;
        font-size: 7.4rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -01px;
        margin-top: 2px;
      }
    }
  }

  @media (max-width: 1050px) {
    padding: 6.5rem 2rem;

    .gridBox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: 3rem;
      grid-template-areas:
        'portfolio title'
        'portfolio taskManager'
        'portfolio taskManager'
        'portfolio taskManager'
        'orbita taskManager'
        'orbita flashCards'
        'orbita flashCards'
        'orbita flashCards'
        'orbita flashCards'
        'socialNetwork todoAng'
        'socialNetwork todoAng'
        'socialNetwork todoAng'
        'socialNetwork todoAng';
    }
  }

  @media (max-width: 650px) {
    padding: 6.5rem 2rem;

    .gridBox {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: min-content;
      gap: 1rem;
      grid-template-areas:
        'title'
        'portfolio'
        'taskManager'
        'flashCards'
        'orbita'
        'socialNetwork'
        'todoAng';

      .titleBox {
        margin-bottom: 5rem;
      }
    }
  }
}
