@keyframes animationReact {
  0% {
    filter: hue-rotate(1deg);
    transform: scale(1);
  }
  25% {
    filter: hue-rotate(30deg);
    transform: scale(0.96);
  }
  50% {
    filter: hue-rotate(1deg);
    transform: scale(0.92);
  }
  75% {
    transform: scale(0.96);
    filter: hue-rotate(-30deg);
  }
  100% {
    filter: hue-rotate(1deg);
    transform: scale(1);
  }
}

@keyframes animationRedux {
  0% {
    filter: hue-rotate(1deg);
    transform: scale(1);
  }
  25% {
    transform: scale(0.85);
  }
  50% {
    filter: hue-rotate(180deg);
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: scale(1);
  }
}

@keyframes animationAngular {
  0% {
    filter: hue-rotate(1deg);
    transform: scale(0.85);
  }
  25% {
    transform: scale(1);
  }
  50% {
    filter: hue-rotate(180deg);
    transform: scale(1.1);
  }
  75% {
    transform: scale(1);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: scale(0.85);
  }
}

@keyframes animationTS {
  0% {
    filter: hue-rotate(1deg);
    transform: scale(1.1);
  }
  25% {
    transform: scale(1);
  }
  50% {
    filter: hue-rotate(180deg);
    transform: scale(0.85);
  }
  75% {
    transform: scale(1);
  }
  100% {
    filter: hue-rotate(360deg);
    transform: scale(1.1);
  }
}

@keyframes backgroundPhotoAnimation {
  0% {
    filter: hue-rotate(1deg);
  }
  25% {
    filter: hue-rotate(25deg);
  }
  50% {
    filter: hue-rotate(1deg);
  }
  75% {
    filter: hue-rotate(-25deg);
  }
  100% {
    filter: hue-rotate(1deg);
  }
}
