@mixin beforeElement {
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    border-radius: 3rem;
    opacity: 0.3;
    //box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.1);
    box-shadow: inset 2px 2px 15px rgba(255, 255, 255, 0.15);
  }
}
@mixin afterElementForFlippingCard {
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
    border-radius: 3rem;
    opacity: 0.3;
    //box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.1);
    box-shadow: inset 2px 2px 15px rgba(255, 255, 255, 0.15);
  }
}

@mixin inEachBox {
  height: 25rem;
  background: $background;
  border-radius: 30px;
  position: relative;
  box-shadow: inset 2px 2px 6px rgba(255, 255, 255, 0.15);
  padding: 2.4rem;

  //@include beforeElement;
}

@mixin icon {
  .icon {
    display: inline-block;
    position: absolute;
    bottom: 2.4rem;
    right: 2.4rem;
    opacity: 0.3;
    z-index: 5;
    transition: 0.4s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
