@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/animations';

.iconRedux {
  fill: rgb(183, 0, 255);
  stroke: #00f8ff;
  stroke-width: 0;
  height: 9rem;
  width: 9rem;
  animation: skillIconAnimation 4s infinite;
  animation-delay: 1s;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);

  @media (max-width: 550px) {
    position: absolute;
    top: 15%;
    right: 10%;
  }
}