@import '../../../common/scss/variables';
@import '../../../common/scss/mixins';
@import '../../../common/scss/animations';

.flipBox {
  grid-area: skills;
  perspective: 150rem;

  .flipCard {
    @include inEachBox;

    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;

    .front {
      background: linear-gradient(120deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
      border-radius: 30px;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-transform: translate3d(0,0,0);
      padding: 2.4rem;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .descriptionIconBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .iconsBox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3rem;
          height: 100%;
        }

        .description {
          display: flex;
          flex-direction: column;
          line-height: 1.2;

          h4 {
            color: $grey-secondary;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.2;
            opacity: 0.5;
            margin-bottom: 0.6rem;
            text-transform: uppercase;
          }

          h1 {
            font-size: 2rem;
            color: $white;
            font-weight: 600;
          }
        }
      }
    }

    .back {
      background: linear-gradient(120deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
      border-radius: 30px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: rotateX(180deg);
      display: flex;
      padding: 2.4rem;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        h1 {
          font-size: 4rem;
          line-height: 4rem;
          color: white;
          font-weight: 500;
          margin-top: 0.5rem;
          margin-bottom: 1.4rem;
          letter-spacing: 2px;
        }

        .lists {
          display: flex;
          justify-content: space-between;
          width: 80%;

          .firstList {
            p {
              display: inline-block;
              cursor: pointer;
              margin: 1rem;
              transition: all 0.3s;
              position: absolute;
              text-transform: uppercase;
              color: rgb(147, 201, 198);
              text-shadow: 0 5px 10px black;

              &:hover {
                color: $color-primary;
                transform: scale(1.35);
                font-weight: 500;
                text-shadow: 0 10px 20px black;
              }
            }
            .react {
              font-size: 2.4rem;
              text-transform: uppercase;
              top: 41%;
              left: 43%;
            }
            .redux {
              font-size: 2.4rem;
              top: 60%;
              left: 60%;
            }
            .rtk {
              font-size: 2rem;
              top: 75%;
              left: 5%;
            }
            .angular {
              font-size: 2.2rem;
              top: 14%;
              left: 5%;
            }
            .typescript {
              font-size: 1.9rem;
              top: 15%;
              right: 5%;
            }
            .restAPI {
              font-size: 1.8rem;
              top: 54%;
              left: 17%;
            }
            .mui {
              font-size: 1.2rem;
              top: 28%;
              left: 65%;
            }
            .git {
              font-size: 1.3rem;
              top: 78%;
              left: 78%;
            }
            .sass {
              font-size: 1.3rem;
              top: 48%;
              right: 9%;
            }
            .storybook {
              font-size: 1.2rem;
              top: 64%;
              left: 36%;
            }
            .javascript {
              font-size: 1.4rem;
              top: 36%;
              left: 5%;
            }
            .unitTests {
              font-size: 1.2rem;
              top: 30%;
              left: 28%;
            }
            .html {
              font-size: 1.4rem;
              top: 80%;
              left: 54%;
            }
          }
        }
      }
      &:hover {
        transform: rotateX(-180deg);
      }
    }
  }
}

.flipBox:hover .flipCard {
  transform: rotateX(180deg);
}
