@import 'common/scss/variables';
@import 'common/scss/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  color: $grey-primary;
  font-family: 'Inter', sans-serif;
  line-height: 1.92rem;
  font-weight: 400;
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background: $background;
}
