@import 'common/scss/variables';
@import 'common/scss/mixins';

.flipBox {
  perspective: 150rem;
  grid-area: contacts;

  .flipCard {
    @include inEachBox;

    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    transform-style: preserve-3d;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      overflow: hidden;
    }

    .front {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      padding: 2.4rem;
      transition: all 1s ease;

      display: flex;
      flex-direction: column;
      justify-content: center;
      //background: rgba(177, 138, 208, 0.65);
      //border-radius: 3rem;

      .iconBox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        .iconContacts {
          fill: #00fff7;
          stroke: #00f7ff;
          stroke-width: 0;
          height: 9rem;
          width: 9rem;
          //animation: contactIconAnimation 4s infinite;
        }
      }

      .descriptionBox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .description {
          display: flex;
          flex-direction: column;
          line-height: 1.2;

          h4 {
            color: $grey-secondary;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 1.2;
            opacity: 0.5;
            margin-bottom: 0.6rem;
            text-transform: uppercase;
          }

          h1 {
            font-size: 2rem;
            color: $white;
            font-weight: 600;
          }
        }
        @include icon;
      }
    }

    .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: rotateY(-180deg);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2.4rem;
      //pointer-events: none;

      .phone {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: $white;

        .phoneIcon {
          margin-right: 1rem;
          fill: $white;
        }
      }

      .email {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: $white;

        .emailIcon {
          margin-right: 1rem;
          fill: $white;
        }
      }

      .gitHub {
        display: flex;
        align-items: center;

        a {
          font-size: 1.2rem;
          text-decoration: none;
          color: $white;
        }

        .gitHubIcon {
          margin-right: 1rem;
          fill: $white;
        }
      }

      .linkedIn {
        display: flex;
        align-items: center;

        a {
          font-size: 1.2rem;
          text-decoration: none;
          color: $white;
        }

        .linkedInIcon {
          margin-right: 1rem;
          fill: $white;
        }
      }

      .telegram {
        display: flex;
        align-items: center;

        a {
          font-size: 1.2rem;
          text-decoration: none;
          color: $white;
        }

        .telegramIcon {
          margin-right: 1rem;
          fill: $white;
        }
      }
    }
  }
}

.flipBox:hover .flipCard {
  transform: rotateY(-180deg);
}
.flipBox:hover .back {
  transform: rotateY(180deg);
}

@keyframes contactIconAnimation {
  0% {
    filter: hue-rotate(1deg);
  }
  25% {
    filter: hue-rotate(15deg);
  }
  50% {
    filter: hue-rotate(1deg);
  }
  75% {
    filter: hue-rotate(-15deg);
  }
  100% {
    filter: hue-rotate(1deg);
  }
}
