@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/animations';

.icon {
  display: inline-block;
  position: absolute;
  bottom: 2.4rem;
  right: 2.4rem;
  opacity: 0.3;
  z-index: 5;
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}